<div id="<%= dom_id work_detail %>">
  <p>
    <strong>Patientwork:</strong>
    <%= work_detail.patientWork_id %>
  </p>

  <p>
    <strong>Service:</strong>
    <%= work_detail.service_id %>
  </p>

</div>
