<h1>Editing work detail</h1>

<%= render "form", work_detail: @work_detail %>

<br>

<div>
  <%= link_to "Show this work detail", @work_detail %> |
  <%= link_to "Back to work details", work_details_path %>
</div>
