<h1>Editing patient work</h1>

<%= render "form", patient_work: @patient_work %>

<br>

<div>
  <%= link_to "Show this patient work", @patient_work %> |
  <%= link_to "Back to patient works", patient_works_path %>
</div>
